.botones, .carga_p, .tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.botones a{
    text-decoration: none;
    color: rgb(17, 0, 125);
    font-weight: 400;
}

.tabla h1{
    color: rgb(175, 9, 9);    
}

.tabla table{
    border: 1px solid;
}

.tabla thead{
    background-color: bisque;
}

button{
    background-color: rgb(211, 245, 45);
    height: 40px;
    width: 150px;
    border-radius: 10px;
}

.carga_p form{
    padding: 3%;
    border: 1px solid;    
}

