<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Peliculas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">

</head>

<body>
    <div class="carga_p">
        <h1>Agregar Persona</h1></br></br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </br><button type="submit" >Añadir Persona</button>
        </form></br></br>
        <a href="{% url 'index' %}"><button>Volver a Inicio</button></a>
    </div>


</body>

</html>