<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulos de Peliculas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <link href="{% static 'vistaprevia/css/jquery-ui.css' %}" rel="stylesheet">
</head>

<body>
    <div class="tabla">   
        <h1>Listado de Peliculas</h1></br></br>
        <a href="{% url 'index' %}"><button>Volver a Inicio</button></a>     
    </br></br>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Genero</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Audiencia</th>
                    <th>Preventa</th>
                </tr>
            </thead>
            {% for nombre, genero, fecha, cantidad, edades, preventa in peliculas %}
            <tr>
                <td>{{ nombre }}</td>
                <td>{{ genero }}</td>
                <td>{{ fecha }}</td>
                <td>{{ cantidad }}</td>
                <td>{{ edades }}</td>
                <td>{{ preventa }}</td>
            </tr>
            {% endfor %}
        </table>

        <h3>Referencias:</h3>
        <h4>Genero:</h4>
        <ul>
            <li>1 = Accion</li>
            <li>2 = Drama</li>
            <li>3 = Romantica</li>
            <li>4 = Infantil</li>
        </ul>
        <h4>Audiencia:</h4>
        <ul>
            <li>1 = ATP - Apto para Todo Público</li>
            <li>2 = Peliculas Infantiles</li>
            <li>3 = +18 - Contenido para Adultos</li>
        </ul>
        <h4>Preventa:</h4>
        <ul>
            <li>0 = No</li>
            <li>1 = Si</li>
        </ul>
        
        
    </div>

</body>

</html>