<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localidades</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
</head>

<body>
    <div class="tabla">
        <h3>Lista de Personas</h3></br></br>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Localidad</th>
                    <th>EMail</th>
                    <th>Activo</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Condicion de IVA</th>
                </tr>
            </thead>
            {% for persona in personas %}
            <tr>
                <td> {{persona.nombre}} </td>
                <td> {{persona.apellido}} </td>
                <td> {{persona.edad}} </td>
                <td> {{persona.localidad}} </td>
                <td> {{persona.email}} </td>
                <td> {{persona.activo}} </td>
                <td> {{persona.fecha_nacimiento}} </td>
                <td> {{persona.tipo_iva}} </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>